@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Sono:wght@200;300;400;500;600;700;800&display=swap');

.headline {
  font-family: Sono;
}

.short-profile {
  text-align: justify;
  font-weight: 500;
}

.divider {
  height: 2px;
  margin: 1rem 0;
}

.divider-lg {
  height: 25vh;
  width: 2px;
}

.portfolio-divider {
  height: 2px;
  margin: 2rem 0;
}

.portfolio-divider-lg {
  height: 100%;
  width: 2px;
}

.project-card {
  height: 100%;
  transition: box-shadow .4s;
}

.project-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35);
}

.project-card-anchor {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
}

.project-card-anchor:hover {
  color: inherit;
  text-decoration: inherit;
}

.project-card-gap {
  row-gap: 1.5rem;
}

.description {
  text-align: justify;
}

.contact-logo {
  text-decoration: none;
}